#section_two {
	position: relative;
	background: $grey;
	width:100%;
	padding-top:1px;
	padding-bottom:335px;
	
}


.angled_box {
	width:100%;
	height:1991px;
	background: url(#{$themePath}images/bg-pattern.jpg);
	position: absolute;
	top:0;
	left:0;
	clip-path: polygon(0 4%, 100% 53%, 100% 96%, 0 47%);
}


.selling_points_wrapper {
	display: flex;
	justify-content: space-between;
	max-width:1860px;
	margin:-70px auto 0;
	position: relative;
	z-index:1;
	padding:0 70px;
}


.selling_point_box {
	flex-basis:23%;
	text-align: center;
	box-shadow: 0px 9px 49px 0px rgba(33, 33, 33, 0.31);
	position: relative;
	transform: translateY(0);
	height:582px;
	transition: transform 500ms cubic-bezier(.17,.66,.34,.98);
	&:hover {
		transform: translateY(-45px);
		.selling_points_hover {
			opacity: 1;
			visibility: visible;
		}
	}
}



.selling_points_reg {
	background:#fff;
	border-bottom:3px solid $bluelight;
	padding:0 20px;
	height:100%;
	.svg_wrapper {
		padding-top:168px;
		svg {

		}// i.e. 11/modernizr might need widths and heights here
		span.blue_bg {
			display: block;
			width:240px;
			height:38px;
			background: $bluelight;
			margin:-50px auto 0;
		}
	}
	.selling_point_description {
		text-transform: uppercase;
		font-size:24px;
		line-height: 33px;
		letter-spacing: 0.1em;
		color:$blue;
		display: block;
		padding-top:50px;
		margin:0 auto;
		
		@include quatro_black;
	}
}


.selling_points_hover {
	background:$bluelightgrad;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-top:3px solid $red;
	padding:115px 20px 0;
	opacity: 0;
	visibility: hidden;
	transition: all 350ms ease-in-out;
	span.selling_point_hover_description {
		margin-top:40px;
		display: block;
		color:#fff;
		text-transform: uppercase;
		font-size:24px;
		line-height: 33px;
		letter-spacing: 0.1em;
		@include quatro_black;
	}
	span.selling_point_content {
		color:#fff;
		font-size:16px;
		line-height: 25px;
		letter-spacing: 0.05em;
		display: block;
		margin:18px auto 0;
		max-width: 315px;
		@include quatro_medium;
	}
}



.sec_two_content_wrapper {
	position: relative;
	z-index:1;
	max-width:1230px;
	margin:115px auto 0;
	h1 {
		text-align: center;
		color:$blue;
		font-size:65px;
		line-height: 80px;
		max-width:832px;
		margin:0 auto;
		@include quatro_slab_bold;
		&:after {
			content:"";
			display: block;
			margin:50px auto 0;
			width: 100%;
			height:4px;
			background: $bluegrad;
			max-width:650px;
			
		}
	}
	span.sec_two_intro {
		color:$red;
		font-size:27px;
		line-height: 40px;
		text-align: center;
		display: block;
		margin:35px auto 0;
		max-width:800px;
		@include quatro_medium;
	}
}

.sec_two_container {
	margin:60px auto 0;
	display: flex;
	justify-content: space-between;
}

.sec_two_content {
	padding-right:80px;
	p:first-of-type:first-letter {
	 font-size: 75px;
	 float: left;
	 //line-height: 95px;
	 //width:91px;
	 padding: 29px 23px;
	 color:#fff;
	 background: $red;
	 margin-right:20px;
	 margin-top: 10px;
	 @include quatro_slab_bold_italic;
	}
}


.sec_two_sidebar {
	flex-basis:385px;
	flex-shrink:0;
	span.sec_two_sidebar_title {
		font-size: 40px;
		line-height: 45px;
		letter-spacing: 0.04em;
		color:$blue;
		text-transform: lowercase;
		@include quatro_slab_bold;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:3px;
			background: $bluelight;
			margin-top:38px;
		}
		br {
			display: none;
		}
	}
	ul {
		list-style: none;
		margin:35px 0 0;
		li {
			text-transform: uppercase;
			font-size:19px;
			letter-spacing: 0.15em;
			line-height: 21px;
			margin-bottom:29px;
			position: relative;
			padding-left:45px;
			@include quatro_bold;
			&:last-of-type {
				margin-bottom:0;
			}
			&:before {
				content:"";
				position: absolute;
				top:9px;
				left:0;
				display: block;
				width:12px;
				height:3px;
				background: $blue;
				transition: all 200ms ease-in-out;
			}
			&:hover {
				&:before {
					background: $red;
				}
			}
			a {
				text-decoration: none;
				color:$blue;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$red;
				}
			}
		}
	}
}


a.view_all_button {
	background:$bluelight;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size:17px;
	width:100%;
	letter-spacing: 0.2em;
	padding:26px;
	margin-top:45px;
	text-align: center;
	transition: all 200ms ease-in-out;
	@include quatro_bold;
	&:hover {
		background: $red;
	}
}


@media screen and (max-width: 1615px) {
	
	
.selling_point_box {
	height:427px;
	flex-basis: 23.5%;
}
	
	
.selling_points_reg {
	.svg_wrapper {
		padding-top: 126px;
		svg {
			height:58px;
		}
		span.blue_bg {
			height:31px;
			margin: -48px auto 0;
			width:199px;
		}
	}
	.selling_point_description {
		font-size:20px;
		line-height: 27px;
		padding-top: 44px;
	}
}





.selling_points_hover {
	padding: 73px 20px 0;
	svg {
		height:58px;
	}
	span.selling_point_hover_description {
		font-size:20px;
		line-height: 27px;
		margin-top: 15px;
	}
	span.selling_point_content {
		margin: 14px auto 0;
	}
}


	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_two {
		padding-bottom:240px;
	}
	
	
	.sec_two_content_wrapper {
		padding-left:70px;
		padding-right:70px;
		
	}
	
	.sec_two_container {
		margin: 82px auto 0;
	}
	
	
	.angled_box {
		height:1600px;
		clip-path: polygon(0 4%, 100% 55%, 100% 100%, 0 55%);
}
	
	    
	
	
	
} /* Media Query */



@media screen and (max-width: 1370px) {
	
	
	
	
.selling_points_reg {
	.svg_wrapper {
		
		svg {
			
		}
		span.blue_bg {
			
		}
	}
	.selling_point_description {
		br {
			display: none;
		}
	}
}

	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1230px) {
	


	
	.selling_points_wrapper {
		display: block;
		.slick-slide {
    	margin: 0 10px;
    	
		}
		.slick-list {
    	margin: 0 -10px;
    	
  	}
	}
	
	
	
	.selling_point_box {
		margin-bottom:45px;
		box-shadow: 0px 6px 16px 0px rgba(33,33,33,0.31);
		&:hover {
			transform: translateY(0);
			.selling_points_hover {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	
	
	.selling_point_box.open {
		.selling_points_hover {
			opacity: 1;
			visibility: visible;
		}
	}
	
	
.selling_points_reg {
	.svg_wrapper {
		
		svg {
			
		}
		span.blue_bg {
			
		}
	}
	.selling_point_description {
		br {
			display: inline-block;
		}
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	#section_two {
		padding-bottom:290px;
	}
	
	
		.angled_box {
			height: 1440px;
			top: 140px;
			clip-path: polygon(0 0%, 100% 47%, 100% 100%, 0 55%);
		}
	
	
	
	
	.selling_points_wrapper {
		padding-left:60px;
		padding-right:60px;
		margin: -48px auto 0;
		.slick-dots {
			bottom: -5px;
			width: 100%;
			margin-left:-60px;
			//max-width:100%;
			text-align: center;
			li.slick-active {
				button {
					&:before {
						background:$red;
					}
				}
			}
			li:hover {
				button {
					&:before {
						background:$red;
					}
				}
			}
			li {
				margin:0 4px;
				width:13px;
				button {
					width:13px;
					&:before {
						width:13px;
						height:3px;
						opacity: 1;
						background: $blue;
						content:"";
						transition: all 200ms ease-in-out;
					}
				}
			}
		}
	}
	
	
	.selling_point_box {
		height:320px;
	}
	
	
	.selling_points_reg {
		.svg_wrapper {
			 padding-top: 68px;
		}
	}
	
	
	.selling_points_hover {
    padding: 20px 20px 0;
    span.selling_point_content {
	    max-width: 100%;
	    line-height: 22px; 
	    font-size: 15px;
    }
    
	}
	
	
	
	
	.sec_two_content_wrapper {
		margin: 47px auto 0;
		padding-left:60px;
		padding-right:60px;
		h1 {
			font-size:50px;
			line-height: 62px;
			max-width: 797px;
			&:after {
				margin: 44px auto 0;
			}
		}
		span.sec_two_intro {
			margin: 22px auto 0;
			font-size:25px;
			line-height: 38px;
		}
	}
	
	
	.sec_two_container {
		display: block;
		margin: 72px auto 0;
	}
	
	
	.sec_two_content {
		padding-right:0;
	}
	
	
	.sec_two_sidebar {
		padding: 50px 0 0;
		span.sec_two_sidebar_title {
			font-size:39px;
			&:after {
				margin-top: 30px;
			}
		}
		ul {
			column-count:2;
			column-gap:45px;
			li {
					font-size:16px;
					margin-bottom: 27px;
					letter-spacing: 0.1em;
					padding-left: 32px;
				 a {
					 
				 }
			}
		}
	}
	
	a.view_all_button {
		max-width:383px;
		display: block;
		margin: 62px auto 0;
	}
	    
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	#section_two {
    padding-bottom: 202px;
	}
	
	
	
	.angled_box {
		height: 982px;
		clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 80%);
		}
	
	
	
	.selling_points_wrapper {
	 	margin: -29px auto 0;
	 	max-width: 500px;
	 	padding-left:0;
	 	padding-right:0;
	 	.slick-dots {
			bottom: 59px;
			margin-left:0;
		}
	 	.slick-slide {
    	margin: 0px;
    	padding: 0 40px 60px 40px;
		}
		.slick-list {
    	margin: 0px;
   	}	
	}
	
	
	.selling_point_box {
    height: 316px;
    box-shadow: 0px 9px 49px 0px rgba(33, 33, 33, 0.31);
	}
	
	
	
	.sec_two_content_wrapper {
		margin: 21px auto 0;
		padding-left:40px;
		padding-right:40px;
		h1 {
			font-size:39px;
			line-height: 45px;
			max-width: 617px;
			&:after {
				margin: 53px auto 0;
			}
		}
		span.sec_two_intro {
			font-size:23px;
			line-height: 36px;
		}
	}
	
	
	.sec_two_container {
    margin: 48px auto 0;
	}
	
	
	.sec_two_content {
		p:first-of-type:first-letter {
			margin-top: 12px;
		}
	}    
	
	
	.sec_two_sidebar {
		
		span.sec_two_sidebar_title {
			
			&:after {
				
			}
		}
		ul {
			margin: 41px 0 0;
			li {
					
				 a {
					 
				 }
			}
		}
	}
	

	
	a.view_all_button {
		font-size:14px;
		letter-spacing: 0.15em;
		padding: 20px;
		max-width:335px;
		margin: 52px auto 0;
	}


	
	
} /* Media Query */



@media screen and (max-width: 720px) {
	
	
	.sec_two_sidebar {
		
		span.sec_two_sidebar_title {
			
			&:after {
				
			}
		}
		ul {
			column-count:1;
			li {
					
				 a {
					 
				 }
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 445px) {
	
	
	.sec_two_sidebar {
		span.sec_two_sidebar_title {
			br {
				display: inline-block;
			}
		}
	}
	
	
} /* Media Query */
