#section_one {
	position: relative;
	height:783px;
	img.hero {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
		object-position:100% 0%;
	}
}


.sec_one_inner_content {
	position: relative;
	z-index:1;
	padding:73px 110px 0;
}

.sec_one_video_wrapper {
	display: flex;
	align-items: center;
	max-width: 900px;
	cursor: pointer;
	position: relative;
	&:hover {
		.play_button_wrapper {
			&:after {
				background: $red;
			}
		}
		span.video_cta {
			&:after {
				background: $red;
			}
		}
	}
}

.mywistia {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
}


.play_button_wrapper {
	width:121px;
	height:121px;
	border-radius:50%;
	border:2px solid #fff;
	position: relative;
	cursor: pointer;
	&:after {
		content:"";
		width:85px;
		height:85px;
		background: $bluelight;
		position: absolute;
		top:16px;
		left:16px;
		display: block;
		border-radius: 50%;
		transition: background 200ms ease-in-out;
	}
	&:before {
		content:"";
		display: block;
		width: 0; 
		height: 0; 
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 17px solid #fff;
		position: absolute;
		z-index: 1;
		top:45px;
		left:53px;
	}
	&:hover {
		&:after {
			background: $red;
		}
	}
}


span.video_cta {
	color:#fff;
	text-transform: uppercase;
	font-size:17px;
	letter-spacing: 0.2em;
	margin-left:21px;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:3px;
		background: $bluelight;
		margin-top:15px;
		transition: background 200ms ease-in-out;
	}
	@include quatro_black;
}

span.video_cta.mobile {
	display: none;
}



span.sec_one_title {
	display: block;
	color:#fff;
	font-size: 70px;
	line-height: 80px;
	max-width:900px;
	margin-top:20px;
	margin-bottom:41px;
	@include quatro_slab_bold_italic;
	br {
		display: none;
	}
}


a.sec_one_button {
	&:before {
		content:"Click for your free consultation";
	}
}


@media screen and (max-width: 1450px) {
	
	#section_one {
		height:570px;
	}
	
	
	.sec_one_inner_content {
   	padding: 50px 70px 0;
  }
  
  
  span.sec_one_title {
	  font-size:50px;
	  line-height: 55px;
	  max-width: 640px;
	  margin-top: 17px;
	  margin-bottom: 34px;
	}
  
  
  .play_button_wrapper {
	  width:97px;
	  height:97px;
	  &:after {
		  width:72px;
		  height:72px;
		  top: 11px;
			left: 11px;
	  }
	  &:before {
		  border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
			border-left: 14px solid #fff;
			top: 38px;
			left: 42px;
	  }
  }
  
  span.video_cta {
	  font-size:15px;
  }
	
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	#section_one {
		height:550px;
		margin-top: 123px;
	}
	
	
	.img_overlay {
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background: #030a20;
		opacity: 0.68;
	}
	
	
	.play_button_wrapper {
		width:80px;
		height:80px;
		&:after {
			width:55px;
			height:55px;
			top:10px;
			left:10px;
		}
		&:before {
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 11px solid #fff;
			top: 30px;
			left: 34px;
		}
	}
	
	
	.sec_one_inner_content {
    padding: 71px 70px 0;
	}
	
	
	span.sec_one_title {
    margin-top: 23px;
    margin-bottom: 30px;
  }
  
  
  a.sec_one_button {
	  &:before {
		  content:"Free Consulation";
	  }
	 }
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.sec_one_inner_content {
		padding-left:60px;
		padding-right:60px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 885px) {
	
	
	
	#section_one {
		img.hero {
			object-position:91% 0%;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_one {
		text-align: center;
		margin-top: 109px;
		img.hero {
			object-position:70% 0%;
		}
	}
	
	.sec_one_video_wrapper {
		flex-direction: column;
	}
	
	span.video_cta.desktop {
		display: none;
	}
	
	span.video_cta.mobile {
		display: block;
	}
	
	
	span.video_cta {
		margin-left:0;
		margin-top:16px;
		&:after {
			 margin-top: 9px;
		}
	}
	
	
	   
	
	.sec_one_inner_content {
    padding: 44px 10px 0;
	}
	
	
	span.sec_one_title {
		font-size:38px;
		line-height: 44px;
		text-align: center;
		max-width: 339px;
		margin:37px auto 26px;
		br {
			display: inline-block;
		}
	}
	
	
	a.sec_one_button {
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 585px) {
	
	
	
	#section_one {
		img.hero {
			object-position:60% 0%;
		}
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 490px) {
	
	
	#section_one {
		img.hero {
			object-position:55% 0%;
		}
	}
	
} /* Media Query */