@media screen and (min-width: 1399px) {
	
	
	// section one
	
	
	#section_one {
		overflow: hidden;
		img.hero {
			transform: scale(1.2);
			transition: all 1800ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_one_video_wrapper {
		transform: translateY(-45px);
		opacity: 0;
		transition: opacity 300ms linear, transform 1300ms cubic-bezier(.17,.66,.34,.98);
	}
	
	span.video_cta {
		&:after {
			opacity: 0;
			transform: scale(0,1);
			transform-origin: top left;
			transition: opacity 300ms linear, transform 1200ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	span.sec_one_title {
		transform: translateY(-25px);
		opacity: 0;
		transition: opacity 400ms linear, transform 1000ms cubic-bezier(.17,.66,.34,.98);
	}
	
	a.sec_one_button {
		transform: translateY(-25px);
		opacity: 0;	
		transition: opacity 400ms linear, transform 1000ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out;
	}
	
	
	#section_one.ready {
		img.hero {
			transform: scale(1);
		}
		span.video_cta {
			&:after {
				transform: scale(1,1);
				opacity: 1;
				transition-delay: 300ms, 530ms;
			}
		}
		.sec_one_video_wrapper, span.sec_one_title, a.sec_one_button {
			opacity: 1;
			transform: translateY(0);
			
		}
		span.sec_one_title {
			transition-delay: 350ms;
		}
		a.sec_one_button {
			transition-delay: 500ms, 500ms, 0ms;
		}
	}
	
	
	// section two 
	
	
	.sec_two_content_wrapper {
		h1 {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top center;
				transition: opacity 200ms linear, transform 1900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	.selling_points_reg {
		.svg_wrapper {
			svg {
				position: relative;
				z-index:1;
			}
			span.blue_bg {
				transform: scale(0,1);
				transform-origin: center center;
				opacity: 0;
				transition: opacity 300ms linear, transform 1200ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	.selling_points_hover {
		z-index: 2;
	}
	
	
	#section_two.visible {
		.selling_points_reg {
			.svg_wrapper {
				span.blue_bg {
					transform: scale(1,1);
					opacity: 1;
				}
			}
		}
	}

		.sec_two_content_wrapper.visible  {
			h1 {
				&:after {
					transform: scale(1,1);
					opacity: 1;
				}
			}
		}
	
	
	// section three
	
	
	
	.sec_image_wrapper {
		div {
			box-shadow: 0px 9px 49px 0px rgba(33,33,33,0.5);
			overflow: hidden;
		}
		img {
			box-shadow:none;
			transform: scale(1.2);
			transition: transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_three_content {
		span.sec_three_title {
			&:before {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top center;
				transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	#section_three.visible {
		.sec_image_wrapper {
			img {
				transform: scale(1);
			}
		}
		.sec_three_content {
			span.sec_three_title {
				&:before {
					transform: scale(1,1);
					opacity: 1;
					transition-delay: 500ms;
				}
			}
		}
	}
	
	
	
	// section four
	
	
	
	.sec_four_left {

		span.sec_four_title {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top left;
				transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
			}
		}

	}
	
	
	
	.sec_four_slide {
		.sec_four_slide_reg {
			span.sec_four_amount {
				&:after {
					transform: scale(0,1);
					opacity: 0;
					transform-origin: top left;
					transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			svg {
				transform: translateY(-45px);
				opacity: 0;
				transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	} 
	
	
	
	.sec_four_button_wrapper {
		transform: translateX(50px);
		opacity: 0;
		transition: opacity 200ms linear, transform 2200ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	#section_four.visible {
		span.sec_four_title {
			&:after {
				transform: scale(1,1);
				opacity: 1;
			}
		}
		.sec_four_slide {
			.sec_four_slide_reg {
				span.sec_four_amount {
					&:after {
						transform: scale(1,1);
						opacity: 1;
						//transition-delay: 500ms;
					}
				}
				svg {
					transform: translateY(0px);
					opacity: 1;
					//transition-delay: 500ms;
				}
			}
		} 
		.sec_four_button_wrapper {
			transform: translateX(0);
			opacity: 1;
			//transition-delay: 500ms;
		}
	}
	
	
	
	
	// section five
	
	
	
	
	.sec_five_slider {
		&:after {
			transform: scale(0,1);
			opacity: 0;
			transform-origin: top left;
			transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_five_button_wrapper {
		transform: translateY(-45px);
		opacity: 0;
		transition: opacity 200ms linear, transform 1700ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	img.sec_five_bg {
		transform: scale(1.09);
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	#section_five.visible {
		.sec_five_slider {
			&:after {
				transform: scale(1,1);
				opacity: 1;
				transition-delay: 500ms;
			}
		}
		.sec_five_button_wrapper {
			transform: translateX(0);
			opacity: 1;
			transition-delay: 500ms;
		}
		img.sec_five_bg {
			transform: scale(1);
			opacity: 1;
		}
	}
	
	
	
	// footer
	
	
	span.footer_title {
		&:after {
			transform: scale(0,1);
			opacity: 0;
			transform-origin: top center;
			transition: opacity 200ms linear, transform 1400ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	#footer_trigger.visible {
		span.footer_title {
			&:after {
				transform: scale(1,1);
				opacity: 1;
			}
		}
	}
	
	// about
	
	
	.about_content {
		h1.about_page_title {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top left;
				transition: opacity 200ms linear, transform 1900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	#internal_main.ready {
		.about_content {
			h1.about_page_title {
				&:after {
					transform: scale(1,1);
					opacity: 1;
				}
			}
		}
	}
	
	.about_page_button {
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
	}
	
	.about_page_button_left {
		transform: translateX(-30px);
	}
	
	.about_page_button_right {
		transform: translateX(30px);
	}
	
	
	#about_logo_trigger.visible {
		.about_page_button_left, .about_page_button_right {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
	
	
	.about_page_bottom_content {
		span.about_bottom_content {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top center;
				transition: opacity 200ms linear, transform 1900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	
	
		.about_page_bottom_content.visible {
			span.about_bottom_content {
				&:after {
					transform: scale(1,1);
					opacity: 1
				}
			}
		}
	
	
	// internal banner and headers
	
	
	
	.internal_banner {
		overflow: hidden;
		img {
			transform: scale(1.15);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	
	.blog_content {
		h1.page_title {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top left;
				transition: opacity 200ms linear, transform 1900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	
	.content {
		h1.page_title {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top left;
				transition: opacity 200ms linear, transform 1900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	#internal_main.ready {
		.internal_banner {
			img {
				transform: scale(1);
				transition-delay: 200ms;
			}
		}
		.blog_content {
			h1.page_title {
				&:after {
					transform: scale(1,1);
					opacity: 1;
					transition-delay: 200ms;
				}
			}
		}
		.content {
			h1.page_title {
				&:after {
					transform: scale(1,1);
					opacity: 1;
					transition-delay: 200ms;
				}
			}
		}
	}
	
	// att bio page
	
	
	span.att_bio_subheader {
		&:after {
			transform: scale(0,1);
			opacity: 0;
			transform-origin: top left;
			transition: opacity 200ms linear, transform 1700ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
		#internal_main.ready {
			span.att_bio_subheader {
				&:after {
					transform: scale(1,1);
					opacity: 1;
					transition-delay: 200ms;
				}
			}
		}
	
	
	// case results
	
	
	.single_case_result {
		.single_case_result_inner {
			span.singe_case_result_amount {
				&:after {
					transform: scale(0,1);
					opacity: 0;
					transform-origin: top center;
					transition: opacity 200ms linear, transform 1300ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			svg {
				transform: translateY(-30px);
				opacity: 0;
				transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 200ms linear;
			}
		}
	} 
	
	

	
	
	#internal_main.ready {
		.single_case_result {
			.single_case_result_inner {
				span.singe_case_result_amount {
					&:after {
						transform: scale(1,1);
						opacity: 1;
						transition-delay: 200ms;
					}
				}
				svg {
					transform: translateY(0px);
					opacity: 1;
					transition-delay: 200ms;
				}
			}
		} 
	}
	
	
	
	// testimonials
	
	
	
	.single_testimonial {
		svg {
			transform: translateY(-30px);
			opacity: 0;
			transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 200ms linear;
		}
		span.testi_header {
			&:after {
				transform: scale(0,1);
				opacity: 0;
				transform-origin: top center;
				transition: opacity 200ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	
	#internal_main.ready {
		.single_testimonial {
			svg {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 200ms;
			}
			span.testi_header {
				&:after {
					transform: scale(1,1);
					opacity: 1;
					transition-delay: 200ms;
				}
			}
		}
	}
	
	
	// contact page
	
	
	h1.contact_title {
		&:after {
			transform: scale(0,1);
			opacity: 0;
			transform-origin: top left;
			transition: opacity 200ms linear, transform 1550ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	#internal_main.ready {
		h1.contact_title {
			&:after {
				transform: scale(1,1);
				opacity: 1;
				transition-delay: 200ms;
			}
		}
	}
		
	
} /* Media Query */