footer {
	width:100%;
	background: $grey;
}


.footer_inner {
	padding-top:1px;
	padding-bottom:220px;
	position: relative;
	overflow: hidden;
	
}

.footer_inner_content {
	position: relative;
	z-index:2;
	padding-left:70px;
	padding-right:70px;
}




.footer_angled_box {
	width:100%;
	height:1840px;
	background: url(#{$themePath}images/bg-pattern.jpg);
	position: absolute;
	z-index:0;
	top:0;
	left:0;
	clip-path: polygon(100% 0, 100% 60%, 61% 100%, 0 100%);
}



span.footer_title {
	text-align: center;
	display: block;
	font-size: 83px;
	line-height: 90px;
	color:$blue;
	margin:95px 0 0;
	@include quatro_slab_bold_italic;
	&:after {
		content:"";
		display: block;
		width:475px;
		height:4px;
		margin:50px auto 0;
		background: $bluegrad;
	}
}

span.footer_intro {
	display: block;
	color:$red;
	font-size:27px;
	line-height: 40px;
	max-width:735px;
	margin:40px auto 0;
	text-align: center;
	@include quatro_medium;
}


.form_wrapper {
	max-width:1370px;
	margin:58px auto 0;
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li#field_1_6 {
			flex-basis:100%;
		}
		li {
			display: block;
			margin-bottom:20px;
			position: relative;
			flex-basis:24%;
			label {
				display: none;
			}
			input, textarea {
				border:none;
				display: block;
				width:100%;
				color:$blue;
				font-size:20px;
				padding:25px 40px 25px 20px;
				border-bottom:3px solid transparent;
				box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0);
				transition: all 200ms ease-in-out;
				@include quatro_medium;
				&:focus {
					border-bottom:3px solid $bluelight;
					box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.15);
				}
			}
			textarea {
				height:155px;
			}
			&:after {
				content:"*";
				color:$red;
				font-size:20px;
				position: absolute;
				top:33px;
				right:20px;
				@include quatro_bold;
			}
		}
	}
	input[type="submit"] {
		background: $red;
		border: none;
		color:#fff;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		display: block;
		padding:24px 50px;
		margin:57px auto 0;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		position: relative;
		z-index: 1;
		@include quatro_black;
		&:hover {
			background: $bluelight;
		}
	}
	.gfield_description, .validation_message {
		color:$bluelight;
		text-transform: uppercase;
		font-size:13px;
		letter-spacing: 0.07em;
		margin-top:7px;
		margin-left:18px;
		@include quatro_bold;
	}
}


.footer_location {
	width:100%;
	background: $blue;
	padding-left:70px;
	padding-right:70px;
}

.footer_location_inner {
	max-width:1580px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}


.single_location {
	position: relative;
	flex-basis:315px;
	text-align: center;
	height:635px;
	.locaton_svg {
		position: absolute;
		left:0;
		width:100%;
		text-align: center;
		svg {
			display: block;
			margin:0 auto;
		}
	}
	.locaton_svg.one {
		top:92px;
		svg {
			width:65px;
			height:80px;
		}
	}
	.locaton_svg.two {
		top:97px;
		svg {
			width:70px;
			height:67px;
		}
	}
	.locaton_svg.three {
		top:104px;
		svg {
			width:83px;
			height:62px;
		}
	}
	span.location_title {
		color:$bluelight;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.2em;
		display: block;
		padding:210px 0 0;
		@include quatro_black;
		&:after {
			content:"";
			display: block;
			width:140px;
			height:3px;
			background: $red;
			margin:28px auto 0;
		}
	}
	span.address {
		color:#fff;
		font-size:22px;
		line-height: 30px;
		display: block;
		margin:23px auto 0;
		max-width: 300px;
		@include quatro_medium;
	}
	a.get_directions {
		background: #fff;
		color:$red;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.2em;
		display: inline-block;
		padding:11px 27px;
		margin-top:32px;
		transition: all 200ms ease-in-out;
		@include quatro_black;
		&:hover {
			background: $bluelight;
			color:#fff;
		}
	}
	a.footer_phone {
		display: block;
		text-decoration: none;
		color:#fff;
		font-size: 30px;
		letter-spacing: 0.04em;
		margin-top:37px;
		@include quatro_black;
	}
}


.copyright_wrapper{
	background:#ebeff4;
	padding-left:50px;
	padding-right:50px;
}

.copyright_inner {
	height:95px;
	max-width:1820px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.copyright_left {
	ul {
		list-style: none;
		margin:0;
		display: flex;
		li {
			text-transform: uppercase;
			font-size:15px;
			letter-spacing: 0.05em;
			color:$blue;
			line-height: 20px;
			@include quatro_bold;
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$red;
				}
				&:before {
					content:"";
					width:8px;
					height:2px;
					background: $blue;
					display: inline-block;
					vertical-align: top;
					margin:9px 20px 0 20px;
				}
			}
		}
	}
}

.copyright_right {
	display: flex;
	flex-grow:1;
	justify-content: flex-end;
	align-items: center;
	max-width: 527px;
}
.social_media {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow:1;
	padding-right:40px;
	a {
		text-decoration: none;
		svg {
			.sm-st0, .sm-st1, .sm-st2 {
				fill:$blue;
				transition: all 200ms ease-in-out;
			}
		}
		&:hover {
			svg {
				.sm-st0, .sm-st1, .sm-st2 {
					fill:$bluelight;
				}
			}
		}
	}
	a.fb {
		svg {
			width:12px;
			height:25px;
		}
	}
	a.yt {
		position: relative;
		top:-2px;
		svg {
			width:24px;
			height:28px;
		}
	}
	a.twitter {
		width:24px;
		height:19px;
	}
	a.linkedin {
		svg {
			width:21px;
			height:20px;
		}
	}
}


span.required {
	text-transform: uppercase;
	color:$red;
	font-size:16px;
	letter-spacing: 0.2em;
	margin-top:-120px;
	display: block;
	@include quatro_black;
	span {
		
	}
}


@media screen and (max-width: 1660px) {
	
	
	
.copyright_wrapper {
	padding-left: 34px;
	padding-right: 34px;
}
	
.copyright_left {
	display: inline-block;
	max-width: 524px;
	ul {
		display: inline-block;
		li {
			font-size:14px;
			display: inline-block;
			&:nth-of-type(2) {
				a {
					margin-left:15px;
					&:before {
						display: none;
					}
				}
			}
			a {
				
				&:hover {
					
				}
				&:before {
					margin: 9px 7px 0 4px;
				}
			}
		}
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	span.footer_title {
		margin: 79px 0 0;
	}
	
	.footer_location_inner {
		padding-top: 10px;
	}
	
	.single_location {
		height: 630px;
	}
    
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	
	.footer_location {
		padding-left:40px;
		padding-right:40px;
	}
	
	.single_location {
		height: 647px;
		span.location_title {
			padding: 194px 0 0;
		}
		.locaton_svg.one {
			top:76px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1145px) {
	
	
	
	.copyright_inner {
		display: block;
		text-align: center;
		height:auto;
		padding:40px 0 35px;
	}
	
	.copyright_right {
		display: block;
		max-width:100%;
	}
	
	.social_media {
		padding-right:0;
		max-width:190px;
		margin:33px auto 25px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1130px) {
	
	
	.form_wrapper  {
		ul {
			display: block;
			li {
				&:after {
					top: 27px;
				}
				input,textarea {
					padding: 19px 40px 20px 19px;
				}
				
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	.footer_inner_content {
		padding-left:60px;
		padding-right:60px;
	}
	
	
	span.footer_title {
		font-size: 70px;
		line-height: 76px;
		margin: 88px 0 0;
		&:after {
			margin: 43px auto 0;
		}
	}
	
	
	span.footer_intro {
		margin: 27px auto 0;
		font-size:24px;
		line-height: 37px;
		max-width: 665px;
	}
	
	    
	.form_wrapper {
		margin: 52px auto 0;
		max-width:590px;
	}
	
	
	span.required {
		margin-top: -114px;
	}
	
	
	.footer_location_inner {
		display: block;
		.slick-dots {
			bottom: 55px;
			li.slick-active {
				button {
					&:before {
						background: $red;
					}
				}
			}
			li:hover {
				button {
					&:before {
						background: $red;
					}
				}
			}
			li {
				margin:0 4px;
				width:15px;
				button {
					width:15px;
					&:before {
						content:"";
						width:15px;
						height:3px;
						opacity: 1;
						background: #fff;
					}
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.footer_inner_content {
		padding-left:40px;
		padding-right:40px;
	}
	
	.footer_inner {
		padding-bottom: 175px;
	}
	
	span.footer_title {
		font-size:39px;
		line-height: 45px;
		margin: 70px auto 0;
		max-width:450px;
		&:after {
			width: 100%;
		}
	}
	
	
	span.footer_intro {
		font-size: 20px;
		line-height: 33px;
		max-width:450px;
	}
	
	
	.form_wrapper {
		margin: 44px auto 0;
		max-width: 510px;
		ul {
			li {
				margin-bottom: 15px;
				&:after {
					top: 23px;
				}
				label {
					
				}
				input, textarea {
					font-size:18px;
					padding: 17px 40px 14px 17px;
				}
				textarea {
					height: 131px;
				}
			}
		}
		input[type="submit"] {
			font-size: 14px;
			padding: 18px 50px;
		}
	}
	
	
	span.required {
		font-size:14px;
		margin-top: -100px;
	}
	
	.single_location {
		height: 562px;
		.locaton_svg.one {
			top: 61px;
		}
		.locaton_svg.two {
			top: 70px;
		}
		.locaton_svg.three {
			top: 74px;
		}
		span.location_title {
			padding: 175px 0 0;
			font-size: 16px;
			&:after {
				margin: 24px auto 0;
			}
		}
		span.address {
			margin: 16px auto 0;
			font-size:20px;
			line-height: 28px;
		}
		a.get_directions {
			margin-top: 20px;
		}
		a.footer_phone {
			font-size: 30px;
			margin-top: 19px;
		}
	}
	
	
	.footer_location_inner {
		.slick-dots {
			bottom: 61px;
		}
	}
	
	
	.copyright_wrapper {
		padding-left:10px;
		padding-right:10px;
	}
	    
	.copyright_left {
		ul {
			li {
				&:first-of-type {
					max-width: 302px;
					display: block;
					margin-left:auto;
					margin-right:auto;
				}
			}
		}
	}
	
	.social_media {
		margin: 41px auto 39px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 470px) {
	
	span.footer_intro {
		max-width: 290px;
	}
	
	
} /* Media Query */

