

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
    
  svg {
	  .content_01-st0{fill:#FFFFFF;}
		.content_01-st1{fill:#fff}
		.content_01-st2{fill:#19204B;}
		.content_01-st3{fill:#6190CB;}
  }
  
  
  
  a.button {
	  display: inline-block;
		background:$red;
		padding:28px;
		text-decoration: none;
		transition: background 200ms ease-in-out;
	  &:before {
		  content:"";
		  color:#fff;
		  text-transform: uppercase;
		  font-size: 18px;
		  letter-spacing: 0.15em;
		  @include quatro_bold;
	  }
	  &:hover {
		  background: $bluelight;
	  }
  }
  
  
 @media screen and (max-width: 1175px) {
	 
	 
	  a.button {
		  padding:22px 55px;
		  &:before {
			  font-size:14px;
			}
	  }
	 
	 
 } /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	a.button {
		padding:20px 55px;
		&:before {
			
		}
	 }
	
	
} /* Media Query */