

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $blue; }
.gform_wrapper ul li ::-moz-placeholder {
  color: $blue; }
 .gform_wrapper ul li :-moz-placeholder {
   color: $blue; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: $blue; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
    
  svg {
	  .content_01-st0{fill:#FFFFFF;}
		.content_01-st1{fill:#fff}
		.content_01-st2{fill:#19204B;}
		.content_01-st3{fill:#6190CB;}
  }
  
  
  
  a.button {
	  display: inline-block;
		background:$red;
		padding:28px;
		text-decoration: none;
		transition: background 200ms ease-in-out;
	  &:before {
		  content:"";
		  color:#fff;
		  text-transform: uppercase;
		  font-size: 18px;
		  letter-spacing: 0.15em;
		  @include quatro_bold;
	  }
	  &:hover {
		  background: $bluelight;
	  }
  }
  
  
  
  .content {
	  color:$black;
	  font-size:18px;
	  line-height: 40px;
	  @include quatro_medium;
	  h1.page_title {
		  font-size:60px;
		  line-height: 70px;
		  color:$blue;
		  margin-bottom: 33px;
		  &:after {
			  content:"";
			  display: block;
			  width:100%;
			  height:4px;
			  background: $bluegrad;
			  margin-top:45px;
		  }
		  @include quatro_slab_bold;
	  }
	  h2 {
		  color:$red;
		  font-size:27px;
		  line-height: 40px;
		  margin-bottom: 35px;
		  @include quatro_medium;
	  }
	  h3 {
		  color:$bluelight;
		  text-transform: uppercase;
		  font-size: 17px;
		  letter-spacing: 0.2em;
		  line-height: 26px;
		  margin-bottom:18px;
		  @include quatro_black;
	  }
	  p,ul,ol {
		  margin-bottom:37px;
	  }
	  ul,ol {
		  li {
			  margin-bottom: 10px;
		  }
	  }
	  ul {
		  list-style: none;
		  li {
			  content:"";
			  padding-left:35px;
			  position: relative;
			  @include quatro_bold;
			  &:before {
				  content:"";
				  display: block;
				  width:12px;
				  height:3px;
				  background: $red;
				  position: absolute;
				  top:17px;
				  left:0;
			  }
		  }
	  }
	  ol {
	  		list-style: none;
	  		counter-reset: item;
	  		> li {
	  			counter-increment: item;
	  			padding-left:27px;
	  			position: relative;
	  			@include quatro_bold;
	   		}
	   		> li:before {
	   				content: counter(item)".";
	   				color: $red;
	   				position: absolute;
	   				top:0;
	   				left:0;
	   				font-size:17px;
	   				@include quatro_bold;
	   			}
	  	}
	  a {
		  color:$bluelight;
		  transition: all 200ms ease-in-out;
		  &:hover {
			  color:$red;
			  text-decoration: none;
		  }
	  }
	  blockquote {
		  font-size: 27px;
		  line-height: 39px;
		  color:$blue;
		  padding:35px 0 25px;
		  @include quatro_medium;
	  }
	  .blockquote_name_wrapper {
		  display: flex;
			align-items: center;
			margin-top:-25px;
			margin-bottom:71px;
			span.blockquote_name {
		 		color:$red;
		 		font-size:19px;
		 		letter-spacing: 0.1em;
		 		text-transform: uppercase;
		 		position: relative;
		 		display: flex;
		 		align-items: center;
		 		margin-right:20px;
		 		@include quatro_bold;
		 		&:before {
			  	content:"";
					width:17px;
					height:2px;
					background: $red;
					margin-right:9px;
				}
			}
			span.blockquote_name_line {
				flex-grow:1;
				height:2px;
				background: $grey;
				display: inline-block;
		  }
	  }
  }
  
  
 @media screen and (max-width: 1175px) {
	 
	 
	  a.button {
		  padding:22px 55px;
		  &:before {
			  font-size:14px;
			}
	  }
	 
	 
 } /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}



.content {
	line-height: 30px;
	p,ul,ol {
		margin-bottom:28px;
	}
}


	
	a.button {
		padding:20px 55px;
		&:before {
			
		}
	 }
	
	
} /* Media Query */



