header {
	background: #fff;
	width:100%;
	height:198px;
	display: flex;
	position: relative;
	z-index:5;
}


.header_left {
	display: flex;
	align-items: center;
	padding-left:55px;
	a {
		img {
			width:231px;
			height:125px;
		}
	}
}

.phone_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.phone_row {
	font-size:22px;
	letter-spacing: 0.1em;
	margin-bottom:7px;
	@include quatro_black;
	span.location_title {
		text-transform: uppercase;
		color:$blue;
	}
	span.location_title.mobile {
		display: none;
	}
	a.phone {
		color:$red;
		text-decoration: none;
		margin-left:15px;
	}
}

.header_middle {
	flex-grow: 1;
	padding-right:32px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	height:100%;
}


a.se_habla {
	display: flex;
	text-decoration: none;
	width:100%;
	max-width:365px;
	justify-content: flex-end;
	align-items: center;
	padding-top:17px;
	span.se_habla_title {
		text-transform: uppercase;
		color:$bluelight;
		font-size:16px;
		letter-spacing: 0.4em;
		flex-shrink: 0;
		@include quatro_black;
	}
	span.se_habla_line {
		width:100%;
		height:3px;
		display: block;
		background: $bluelight;
		flex-basis:78px;
		flex-shrink: 0;
		margin-left:10px;
	}
}


.header_right {
	flex-basis: 255px;
	flex-shrink: 0;
	background: $blue;
	a {
		display: flex;
		height:100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		svg {
			width:62px;
			height:62px;
			margin-top:-15px;
		}
		span {
			color:#fff;
			font-size:16px;
			line-height: 20px;
			letter-spacing: 0.05em;
			text-align: center;
			max-width: 170px;
			margin-top:10px;
			@include quatro_slab_medium_italic;
			&:after {
				content:"";
				width:88px;
				height:3px;
				background:$red;
				display: block;
				margin:15px auto 0;
			}
		}
	}
}


.tablet_header_right {
	display: none;
}


nav {
	width:100%;
	background:$grey;
	height:72px;
	position: relative;
	z-index:5;
	.menu-header {
		height: 72px;
	}
	ul {
		list-style: none;
		margin:0;
		li {
			font-size:16px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			@include quatro_bold;
			a {
				color:$blue;
				text-decoration: none;
				cursor:pointer;
				transition: all 200ms ease-in-out;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: space-around;
		height:100%;
		> li.menu-item-has-children {
				position: relative;
				
				> a {
						&:after {
							content:"";
							display: inline-block;
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 8px solid $red;
							vertical-align: top;
							margin-top:5px;
							margin-left:7px;
						}
				}
		}
		> li {
				height:100%;
				display: flex;
				align-items: center;
				}
	}
	ul.sub-menu {
		position: absolute;
		left:-50px;
		background:#fff;
		width:460px;
		top: 72px;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		li {
			&:last-of-type {
				a {
					border:none;
				}
			}
			a {
				display: block;
				padding:35px 50px;
				border-bottom: 1px solid $grey;
				transition: all 200ms ease-in-out;
			}
		}
	}
}



nav.desktop_hover {
	ul.menu {
		> li.menu-item-has-children {
				&:hover {
					> a {
							color:$red;
						}
						ul.sub-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
		> li {
			> a {
					&:hover {
						color:$red;
					}
				}
			}
		}
		ul.sub-menu {
			li {
				a {
					&:hover {
						color:$red;
					}
				}
			}
		}
	}

.mobile_espanol {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	header {
		height: 176px;
	}
	
	
	.header_left {
		padding-left: 37px;
		a {
			img {
				width:197px;
				height:125px;
			}
		}
	}
	
	
	.header_middle {
		padding-right: 44px;
	}
	
	
	.header_right {
		flex-basis: 219px;
		a {
			svg {
				width:50px;
				height:50px;
			}
		}
  }
	
	
	.phone_row {
		font-size:18px;
		span.location_title {
			
		}
		a.phone {
			margin-left: 12px;
		}
	}
	
	
	a.se_habla {
   padding-top: 12px;
	}
	
	
	nav {
		padding-left:35px;
		padding-right:35px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	header {
		height: 123px;
	}
	
	.header_left {
		padding-left: 30px;
		a {
			img {
				width:150px;
				height: 93px;
			}
		}
	}
	
	.header_middle {
		padding-right: 29px;
	}
	
	.header_right {
		display: none;
	}
	
	.tablet_header_right {
		display: flex;
	}

	.espanol {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height:100%;
			background: $grey;
			color:$bluelight;
			font-size:16px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			text-decoration: none;
			width: 60px;
			@include quatro_black;
		}
	}
	
	
	.menu_wrapper {
		height:100%;
		width:83px;
		background: $blue;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding:0 20px;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:3px;
			background: $red;
			margin-bottom:7px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-size:13px;
			letter-spacing: 0.05em;
			padding-top:1px;
			@include quatro_slab_bold;
		}
	}
	
	
	
	.phone_row {
		font-size:16px;
		letter-spacing: 0.05em;
		a.phone {
			margin-left: 7px;
		}
	}
	
	a.se_habla {
		display: none;
	}
	
	nav {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background: $blue;
		.menu-header {
			height:auto;
			ul {
				li {
					a {
						color:#fff;
					}
				}
			}
			ul.menu {
				display: block;
				> li {
					display: block;
					> a {
						
					}
				}
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	header {
		height: 77px;
	}
	
	.header_left {
		padding-left:19px;
		a {
			img {
				width:109px;
				height: 64px;
			}
		}
	}
	
	
	.phone_row {
		font-size:12px;
		margin-bottom: 4px;
		&:last-of-type {
			margin-bottom:0;
		}
		span.location_title.desktop {
			display: none;
		}
		span.location_title.mobile {
			display: inline-block;
		}
		span.location_title {
			
		}
		a.phone {
		
		}
	}
	
	
	.espanol {
		a {
			display: none;
		}
	}
	
	.menu_wrapper {
		width:58px;
		padding-left:15px;
		padding-right:15px;
		span.menu_title {
			display: none;
		}
	}

	.mobile_espanol {
		display: block;
		width:100%;
		a {
			display: block;
			background: $grey;
			color:$bluelight;
			text-transform: uppercase;
			font-size:12px;
			letter-spacing: 0.2em;
			text-decoration: none;
			text-align: center;
			padding:10px 5px;
			@include quatro_black;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 355px) {
	
	
	.header_middle {
		padding-right: 16px;
	}
	
	
	
	
	
} /* Media Query */