body.page-template-template-contact {
	.outer_container {
		background: url(#{$themePath}images/contact-bgimage.jpg) top left no-repeat;
		background-size: cover;
	}
}


.contect_wrapper {
	max-width:1440px;
	margin:0 auto 15px;
}

.contact_inner {
	max-width:733px;
}


h1.contact_title {
	color:$blue;
	font-size: 60px;
	line-height: 70px;
	@include quatro_slab_bold_italic;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:4px;
		background: $bluegrad;
		margin-top:30px;
	}
}


span.contact_subheader {
	display: block;
	color:$red;
	font-size:27px;
	line-height: 40px;
	margin-top:60px;
	@include quatro_medium;
}


.contact_page_form {
	margin-top:47px;
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li#field_1_6 {
			flex-basis:100%;
		}
		li {
			display: block;
			margin-bottom:20px;
			position: relative;
			flex-basis:48.5%;
			label {
				display: none;
			}
			input, textarea {
				border:none;
				display: block;
				width:100%;
				color:$blue;
				font-size:20px;
				padding:23px 40px 25px 20px;
				border-bottom:3px solid transparent;
				box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0);
				transition: all 200ms ease-in-out;
				@include quatro_medium;
				&:focus {
					border-bottom:3px solid $bluelight;
					box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.15);
				}
			}
			textarea {
				height:240px;
			}
			&:after {
				content:"*";
				color:$red;
				font-size:20px;
				position: absolute;
				top:31px;
				right:20px;
				@include quatro_bold;
			}
		}
	}
	.gform_footer {
		display: flex;
		justify-content: flex-end;
	}
	input[type="submit"] {
		background: $red;
		border: none;
		color:#fff;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		display: block;
		padding:24px 50px;
		margin:57px 0 0;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		position: relative;
		z-index: 1;
		@include quatro_black;
		&:hover {
			background: $bluelight;
		}
	}
	.gfield_description, .validation_message {
		color:$bluelight;
		text-transform: uppercase;
		font-size:13px;
		letter-spacing: 0.07em;
		margin-top:7px;
		margin-left:18px;
		@include quatro_bold;
	}
	span.required {
		text-transform: uppercase;
		color:$red;
		font-size:16px;
		letter-spacing: 0.2em;
		margin-top:-130px;
		display: block;
		@include quatro_black;
	}
}

