.about_wrapper {
	max-width:1560px;
	margin:0 auto;
}


.about_wrapper {
	display: flex;
	justify-content: space-between;
}


.about_content {
	flex-grow:1;
	padding-right:10%;
	h1.about_page_title {
		color:$blue;
		line-height: 70px;
		font-size: 60px;
		padding-bottom:46px;
		@include quatro_slab_bold_italic;
		&:after {
			content:"";
			width:100%;
			height:4px;
			display: block;
			background: $bluegrad;
			margin-top:30px;
		}
	}
}

.about_page_image_wrapper {
	flex-basis:595px;
	flex-shrink:0;
	img {
		display: block;
		width:100%;
		height:auto;
		box-shadow: 0px 9px 49px 0px rgba(33, 33, 33, 0.5);
		margin-bottom: 45px;
	}
}


.about_page_slider_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:1615px;
	margin:75px auto 0;
}


.about_page_slider {
	width:calc(100% - 62px);
	order:2;
	padding:0 20px;
}


.about_page_slide {
	img {
		display: block;
		max-width:100%;
		height: auto;
		margin:0 auto;
	}
}


.about_page_button {
	cursor: pointer;
	&:hover {
		svg {
			fill:$red;
		}
	}
	svg {
		width:31px;
		height:16px;
		fill:$blue;
		transition: all 200ms ease-in-out;
	}
}

.about_page_button_left {
	order:1;
}


.about_page_button_right {
	order:3;
	svg {
		transform: rotate(180deg);
	}
}


.about_page_bottom_content {
	text-align: center;
	margin:150px auto 0;
	max-width:1045px;
	span.about_bottom_content {
		display: block;
		color:$red;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0.2em;
		@include quatro_bold;
		&:after {
			content:"";
			display: block;
			width:100%;
			max-width:675px;
			height:4px;
			background: $bluegrad;
			margin:50px auto 45px;
		}
	}
	.about_bottom_blockquote_wrapper {
		padding-top:25px;
		svg {
			display: block;
			margin:0 auto;
			.content_01-st1 {
				fill:$red;
			}
		}
		span.about_bottom_blockquote {
			color:$blue;
			font-size:27px;
			line-height: 40px;
			display: block;
			max-width:900px;
			margin:47px auto 0;
			@include quatro_medium;
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
	.about_page_image_wrapper {
		flex-basis: 460px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1260px) {
	
	
	.about_wrapper {
		display: block;
	}
	
	
	.about_content {
		padding-right:0;
	}
	
	
	.about_page_image_wrapper {
		display: flex;
		justify-content: space-between;
		width:100%;
		padding-top:35px;
		div {
			flex-basis:32%;
			img {
				
				
			}
		}
	}
	
	
	.about_page_bottom_content {
		margin: 100px auto 0;
		span.about_bottom_content {
			max-width: 740px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
		.about_page_image_wrapper {
			display: block;
			div {
				display: none;
				&:nth-of-type(2) {
					display: block;
					max-width:648px;
					margin-left:auto;
					margin-right:auto;
				}
			}
		}
	
	
	.about_page_slider_wrapper {
		max-width: 820px;
	}
	
	
	.about_content {
		h1.about_page_title {
			font-size: 50px;
			line-height: 62px;
		}
	}
	
	

	
	
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
	.about_page_slider_wrapper {
    max-width: 460px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	.about_content {
		h1.about_page_title {
			font-size: 39px;
			line-height: 45px;
			&:after {
				margin-top:25px;
			}
		}
	}
	
	
		.about_page_slider_wrapper {
    	max-width: 390px;
		}
		
		
		
		.about_page_bottom_content {
			margin: 60px auto 0;
			.about_bottom_blockquote_wrapper {
				span.about_bottom_blockquote {
					font-size: 23px;
					line-height: 35px;
				}
			}
		} 
	
	
	
	
} /* Media Query */
