.blog_content {
	h1.page_title {
		&:after {
			margin-top: 34px;
		}
	}
	.inner_content {
		padding-right:0;
	}
}


.blog_feed {
	padding-top:7px;
}


.single_blog_post {
	padding-bottom:48px;
	border-bottom:2px solid $grey;
	margin-bottom:53px;
	&:last-of-type {
		border: none;
		padding-bottom:35px;
		margin-bottom:0;
	}
	h2 {
		a {
			color:$red;
			text-decoration: none;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$bluelight;
			}
		}
	}
}


.blog_meta {
	color:$blue;
	text-transform: uppercase;
	font-size:15px;
	line-height: 20px;
	letter-spacing: 0.24em;
	margin-top:-8px;
	margin-bottom: 27px;
	@include quatro_black;
	span.date {
		display: inline;
	}
	ul {
		list-style: none;
		display: inline;
		margin:0;
		li {
			display: inline-block;
			padding:0;
			margin:0;
			font-size:15px;
			line-height: 20px;
			letter-spacing: 0.2em;
			@include quatro_black;
			&:before {
				display: none;
			}
			&:after {
				content:"|";
				color:$bluelight;
				display: inline-block;
				margin:0 5px 0 10px;
			}
			&:last-of-type {
				&:after {
					display:none;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}


body.single {
	.blog_meta {
		margin-top:5px;
	}
}


a.blog_read_more {
	color:$blue;
	text-transform: uppercase;
	font-size:15px;
	letter-spacing: 0.2em;
	text-decoration: none;
	transition: all 200ms ease-in-out;
	@include quatro_black;
	&:hover {
		color:$red;
	}
}




.sidebar_wrapper {
	.sidebar {
		.widget {
			h3 {
				display: none;
			}
			ul {
				margin-top:28px;
				li.active {
					a {
						color:$red;
					}
				}
				li {
					&:last-of-type {
						a {
							border-bottom: none;
						}
					}
					a {
						color:$blue;
						text-decoration: none;
						display: block;
						border-bottom:1px solid $grey;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$red;
						}
					}
				}
			}
		}
	 .widget_recent_entries {
	 	ul {
			li {
				font-size:18px;
				line-height: 24px;
				text-transform: none;
				letter-spacing: 0;
				@include quatro_medium;
				a {
					padding:20px 0;
				}
				}
			}
		}
	}
	.widget.widget_categories {
		ul {
			li {
				font-size: 16px;
				line-height: 25px;
				letter-spacing: 0.15em;
				a {
					padding:12px 0;
				}
			}
		}
	}
	.sidebar.cat_sidebar {
		margin-bottom:0;
	}
}

.navigation {
	display: flex;
	justify-content: flex-end;
	border-top:2px solid $grey;
	padding-top:5px;
	ul {
		display: inline-block;
		margin:0;
		li {
			display: inline-block;
			padding-left:0;
			margin:0 0px 0 6px;
			@include quatro_black;
			&:before {
				display: none;
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 15px;
				letter-spacing: 0.2em;
			}
		}
	}
}



@media screen and (max-width: 1066px) {
	
	
	.navigation {
		justify-content: center;
		ul {
			li {
				margin: 0 3px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.blog_content {
		h1.page_title {
			&:after {
				margin-top:25px;
			}
		}
	}
	
	
	.single_blog_post {
		padding-bottom: 31px;
		margin-bottom: 31px;
	}
	
	
	
	
	
} /* Media Query */

