.internal_banner {
	position: relative;
	height:362px;
	padding-left:70px;
	padding-right:70px;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
	.internal_banner_inner {
		position: relative;
		z-index: 1;
		max-width: 1551px;
		margin:0 auto;
		padding-top:1px;
		span {
			color:#fff;
			font-size: 52px;
			line-height: 60px;
			display: block;
			max-width:793px;
			margin-top:70px;
			@include quatro_slab_bold_italic;
		}
		a.banner_button {
			background: $red;
			color:#fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size:18px;
			letter-spacing: 0.15em;
			display: inline-block;
			padding:27px 24px;
			margin-top:45px;
			@include quatro_bold;
			transition: all 200ms ease-in-out;
			&:hover {
				background: $bluelight;
			}
		}
	}
}


.outer_container {
	min-height:600px;
	padding:145px 70px 217px;
}


.two_col {
	display: flex;
	max-width:1415px;
	margin:0 auto;
}



.content_wrapper {
	flex-grow:1;
	padding-right:10%;
}

.inner_content {
	padding-right:9%;
}


.sidebar_wrapper {
	flex-basis:445px;
	flex-shrink:0;
	margin-top:15px;
	.sidebar {
		box-shadow: 0px 9px 49px 0px rgba(33, 33, 33, 0.31);
		padding:46px 50px 40px;
		span.sidebar_title {
			display: block;
			color:$bluelight;
			font-size:30px;
			letter-spacing: 0.04em;
			@include quatro_slab_bold;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:4px;
				background: $bluelight;
				margin-top:35px;
			}
		}
		ul {
			list-style: none;
			
			li {
				text-transform: uppercase;
				font-size:16px;
				letter-spacing: 0.15em;
				line-height: 18px;
				@include quatro_bold;
				a {
					display: block;
					cursor: pointer;
					
				}
			}
		}
		ul.menu {
			margin:30px 0 0;
			> li.menu-item-has-children {
					> a {
							display: flex;
							justify-content: space-between;
							align-items: center;
							&:after {
								content:"+";
								
							}
					}
					> a.active {
							&:after {
								content:"-";
							}
					}
			}
			> li.no_border {
				border-bottom:1px solid transparent;
			}
			> li.current-menu-ancestor {
				ul.sub-menu {
					display: block;
				}
			}
			> li {
				border-bottom:1px solid $grey;
				transition: all 200ms ease-in-out;
				&:last-of-type {
					border:none;
				}
					> a {
						color:$blue;
						padding:15px 0;
						transition: all 200ms ease-in-out;
						&:hover {
							color:$red;
						}
					}
					> a.active {
							color:$red;
					}
			}
		}
		ul.sub-menu {
			display: none;
			padding:5px 0 5px;
			li {
				a {
					color:$bluelight;
					display: block;
					padding:15px 0;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$red;
					}
				}
			}
			li.current-menu-item {
				a {
					color:$red;
				}
			}
		}
	}
}


@media screen and (max-width: 1350px) {
	
	
	.content_wrapper {
		padding-right:5%;
	}
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1175px) {
	
	
	
	.two_col {
		display: block;
	}
	
	
	.content_wrapper {
		padding-right:0;
	}
	
	.inner_content {
		padding-right:0;
	}
	
	.sidebar_wrapper {
		margin-top:70px;
	}
	
	.outer_container {
    padding: 95px 70px 157px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.internal_banner {
		display: none;
	}
	
	.outer_container {
    padding: 65px 60px 77px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.outer_container {
		padding: 40px 40px 40px;
	}
	
	
	.sidebar_wrapper {
		margin-top: 35px;
		.sidebar {
			padding: 35px 30px;
			span.sidebar_title {
				&:after {
					margin-top: 23px
				}
			}
		}
	}
	
	
	
	
	
	
} /* Media Query */
